@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #FFF;
  background: #16151B;
  font-family: 'Inter Variable', sans-serif !important;
}

.lr-btn {
  @apply text-[14px] bg-gradient-to-r from-[#AC0702] to-[#FF5E07] rounded-[8px] font-semibold py-[22px] md:px-[82px] block md:w-[480px] w-full text-center mx-auto
}

.blured-element {
  -webkit-filter: blur(230px);
}

@media (max-width: 500px) {
  .blured-element {
    -webkit-filter: blur(100px);
  }
}